<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <property name="SPECIAL_FILE_PATH" value="applog/vcx/request_response"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <appender name="SPECIAL_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <encoder>
            <pattern>%msg%n</pattern>
            <charset>utf8</charset>
        </encoder>

        <file>${SPECIAL_FILE_PATH}/vcx.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SPECIAL_FILE_PATH}/vcx-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="ir.vcx.api.filter.RequestResponseLoggerAdvice" level="info" additivity="false">
        <appender-ref ref="SPECIAL_FILE"/>
    </logger>

</configuration>